body{
    background-image: url("../images/aa.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.heading{
    text-align: center;
    color: aqua;
    font-size: 60px;
 }
 .heading:hover{
    color: aquamarine;
    text-decoration: underline;
 }